<html>
  <head>
    <meta charset="utf-8"/>
    <title>Your horoscope</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

<body>

<div class="topnav">
  <a href="#panchanga">Panchanga</a>
  <a href="{{ url_for('ephemeris') }}" target="_blank">Ephemeris</a>
  <a href="{{ url_for('horoscope') }}">Horoscope</a>
  <a href="#contact">Contact</a>
</div>

<h2 style="text-align:center">MRL Astro</h2>
<p style="text-align:center">E.K ☉ C.V.V ☉ M.N ☉ M.R.L</p>

<!-- print chart data -->
<div class="main">


<br>
<p><b>Birth Details:</b><br>
<p>
Name: {{ birth_name }}
<br>
Date of Birth: {{ dob }}
<br>
Place of Birth: {{ city }}
<br>
Time of Birth: {{ tob }}
<br>
Time Zone: {{ tz }}
</p>
<br>


<!-- Natal Chart -->
<!-- display natal and navamsa chart side by side as two cells in row -->
 <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 500px;">
            <div style="width: 450px; display: table-cell">


<h3>Birth Chart</h3>
<br>
<svg width="400" height="400">
  <!-- pi, ar, ta, ge -->
  <rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict['Pisces'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in p_and_h_dict['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in p_and_h_dict['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in p_and_h_dict['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in p_and_h_dict['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

</svg>
</div>


<!-- Progressions chart-->

<div style="display: table-cell">
<h3>Progressions</h3>
<br>
<svg width="400" height="400">
<rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in progressions_dict_pr['Pisces']%}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in progressions_dict_pr['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in progressions_dict_pr['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in progressions_dict_pr['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in progressions_dict_pr['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

        
        <!-- Add progression details here -->
        <text x="110" y="150" fill="blue" >D.O.B: {{prg_details['dob']}}</text>
        <text x="110" y="170" fill="blue">Age: {{prg_details['curr_age']}}</text>
        <text x="110" y="190" fill="blue">Prog. Date: {{prg_details['prg_date']}}</text>
        


  <!-- Progression details end -->

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in progressions_dict_pr['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in progressions_dict_pr['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in progressions_dict_pr['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in progressions_dict_pr['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in progressions_dict_pr['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in progressions_dict_pr['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in progressions_dict_pr['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

</svg>
</svg>
</div>

</div>
</div>

<hr>
<!-- Navamsa chart --->

 <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 500px;">
            <div style="width: 450px; display: table-cell">

<h3>Navamsa</h3>
<br>
<svg width="400" height="400">
<rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in navamsa_dict['Pisces'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in navamsa_dict['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in navamsa_dict['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in navamsa_dict['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in navamsa_dict['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in navamsa_dict['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in navamsa_dict['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in navamsa_dict['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in navamsa_dict['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in navamsa_dict['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in navamsa_dict['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in navamsa_dict['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}



</div>
<br>

<!-- Transit chart --->
<div style="display: table-cell">
<h3>Transits</h3>
<br>
<svg width="400" height="400">
<rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict_transits['Pisces']%}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict_transits['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict_transits['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict_transits['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in p_and_h_dict_transits['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in p_and_h_dict_transits['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in p_and_h_dict_transits['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in p_and_h_dict_transits['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict_transits['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict_transits['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict_transits['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict_transits['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

</svg>
</div>

</div>
</div>

<br>

 <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 500px;">
            <div style="width: 450px; display: table-cell">

<h3>Hora</h3>
<br>
<svg width="400" height="400">
<rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in hora_dict['Pisces'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in hora_dict['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in hora_dict['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in hora_dict['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in hora_dict['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in hora_dict['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in hora_dict['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in hora_dict['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in hora_dict['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in hora_dict['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in hora_dict['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in hora_dict['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}
</svg>
</div>

<div style="display: table-cell">
<h3>Drekkana</h3>
<br>
<svg width="400" height="400">
<rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in drekkana_dict['Pisces'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in drekkana_dict['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in drekkana_dict['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in drekkana_dict['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in drekkana_dict['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in drekkana_dict['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in drekkana_dict['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in drekkana_dict['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in drekkana_dict['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in drekkana_dict['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in drekkana_dict['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in drekkana_dict['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}
</svg>
</div>

</div>
</div>


<h3>Dwadasamsa</h3>
<br>
<svg width="400" height="400">
<rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in dwa_dict['Pisces'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in dwa_dict['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in dwa_dict['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in dwa_dict['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in dwa_dict['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in dwa_dict['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in dwa_dict['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in dwa_dict['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in dwa_dict['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in dwa_dict['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in dwa_dict['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in dwa_dict['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}
</svg>




<!-- end main div -->
</div>

<br>
</body>

</html>
