<html>
  <head>
    <meta charset="utf-8"/>
    <title>Your horoscope</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

<style>

h1 {
  color: maroon;
  margin-left: 40px;
}

h2 {
  color: maroon;
  text-align: center;
}

h3 {
  color: maroon;
  margin-left: 40px;
}  

p {
  color: maroon;
  text-align: left;
  
}  

.details {
  color: maroon;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E0BBE4;
  overflow-x: hidden;
  padding-top: 100px;
}

.sidenav a {
  padding: 25px 8px 6px 16px;
  text-decoration: none;
  color: maroon;
  font-size: 20px;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
 /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


</style>

<body>
<div class="sidenav">
  <a href="#panchanga">Panchanga</a>
  <a href="#ephemeris">Ephemeris</a>
  <a href="#horoscope">Horoscope</a>
  <a href="#contact">Contact</a>
</div>

<div class="main">
<h2> MRL Astro</h2>
<p><b>E.K | C.V.V | M.N | M.R.L</b></p>
<!-- print chart data -->

<br>
<br>
<p>
Name: {{ birth_name }}
<br>
Date of Birth: {{ dob }}
<br>
Place of Birth: {{ city }}
<br>
Time of Birth: {{ tob }}
<br>
Time Zone: {{ tz }}
</p>
<br>

<b>Natal Chart</b>
<br>
<br>
<svg width="400" height="400">
  <!-- pi, ar, ta, ge -->
  <rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict['Pisces'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in p_and_h_dict['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in p_and_h_dict['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in p_and_h_dict['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in p_and_h_dict['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in p_and_h_dict['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in p_and_h_dict['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

</svg>

<!-- NAVAMSA CHART STARTING HERE-->

<br>
<b>Navamsa Chart</b>
<br>
<br>
<svg width="400" height="400">

<rect id="pi" x="0" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>

      {% set count = namespace(value=15) %}
      {% for obj in navamsa_dict['Pisces'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
            {% set count = namespace(value=15) %}
      {% for obj in navamsa_dict['Aries'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in navamsa_dict['Taurus'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="0" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=15) %}
      {% for obj in navamsa_dict['Gemini'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!-- aq, cn, cp, le -->
  <rect x="0" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=115) %}
      {% for obj in navamsa_dict['Aquarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="100" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
        {% set count = namespace(value=115) %}
      {% for obj in navamsa_dict['Cancer'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="0" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in navamsa_dict['Capricorn'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}


  <rect x="300" y="200" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=215) %}
      {% for obj in navamsa_dict['Leo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <!--sg, sc, lib, vi-->
  <rect x="0" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in navamsa_dict['Sagittarius'] %}
          <text x="10" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="100" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in navamsa_dict['Scorpio'] %}
          <text x="110" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="200" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in navamsa_dict['Libra'] %}
          <text x="210" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

  <rect x="300" y="300" width="100" height="100" stroke="blue" fill="transparent" stroke-width="2"/>
      {% set count = namespace(value=315) %}
      {% for obj in navamsa_dict['Virgo'] %}
          <text x="310" y="{{ count.value }}">{{ obj }}</text>
          {% set count.value = count.value + 15 %}
        {% endfor %}

</svg>
<br>
<br>

</div>


</body>

</html>
