<html>
  <head>
    <title>MRL Ephemeris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">


<body>
<div class="topnav">
  <a href="#panchanga">Panchanga</a>
  <a href="{{ url_for('ephemeris') }}">Ephemeris</a>
  <a href="{{ url_for('horoscope') }}">Horoscope</a>
  <a href="#contact">Contact</a>
</div>

<!-- print ephemeris data -->
 <div class="main">
<table>
	<tr>
		<th>Planet</th>
		<th>Sign</th>
		<th>Degree</th>
	</tr>
	
	{% for p in all_objs %}
	<tr>
		<td>{{p.id}}</td>
		<td>{{p.sign}}</td>
		<td>{{p.lon|round(2, 'floor')}}</td>
	</tr>
	
		{% endfor %}
</table>
</div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!-- horoscope form -->
<div class="horoscope-form">
<form action="/createchart" method="post">

  <select name="country" class="countries order-alpha limit-pop-5000 presel-byip " id="countryId">
    <option value="">Select Country</option>
	</select>
	<select name="state" class="states order-alpha" id="stateId">
    <option value="">Select State</option>
	</select>
	<select name="city" class="cities order-alpha" id="cityId">
    <option value="">Select City</option>
	</select>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
	<script src="//geodata.solutions/includes/countrystatecity.js"></script>

	<input type="submit" value="Submit"></input>


</form>
</div>


</body>

	</html>
