{% extends 'base.html' %}

{% block content %}

<div class="container" max-width: 50%;>
<br>
<h2 style="text-align:center">MRL Astro</h2>
<p style="text-align:center">E.K ☉ C.V.V ☉ M.N ☉ M.R.L</p>
<br>
<!-- masters imags display -->
<p class="aligncenter">
<img src="static/masters.jpg" alt="Master M.R.L, Master E.K" style="width:50%">
</p>
<!-- -->
<br>
<p>Namaskaram,</p>

<p>The Vedic Astrology resources on this site are based on the teachings of Master M.R.L Rao (1946 - 2018) of Visakhapatnam, India. He was a realized soul, a disciple of Master E.K (Ekkirala Krishnamacharya) and a daivajña who taught the science of Astrology to thousands of people in his lifetime. You can read more about him <a href="https://www.mihiraonline.org/?page_id=193">here</a>.</p>

<p>In his own words.. </p>

<p class="font-italic"> "Jyotisa (Astrology) is a like a lamp whose light enables us to cross the dark forest of life with ease. Among the Vedāngās, Astrology is considered to be the eye of the Vēda Purusha or cosmic man which demonstrates the importance given to this subject by our ancients".</p>

<p>This site currently has a Sayana horoscope calculator which can be accessed <a href="https://mrlastro.sarvaani.org/horoscope">here</a>.</p>

<p>More resources including his teachings and notes will be added soon. </p>
<br>
</div>


{% endblock %}
