{% extends 'base.html' %} 

{% block content %}
 <div class="container">
  <br>
    <h2 style="text-align:center">MRL Astro</h2>
      <p style="text-align:center">E.K ☉ C.V.V ☉ M.R.L</p>
      <!-- print chart data -->
      <br>
   <!--   
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Location
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Visakhapatnam</a>
          <a class="dropdown-item" href="#">Hyderabad</a>
          <a class="dropdown-item" href="#">Los Angeles</a>
        </div>
        </div>
      -->

      <h3> Daily Panchanga </h3>
      
          <br> Place: Visakhapatnam, India
          <br> Date: {{ panchanga_dict['date_fmt'] }}
          <br> Tithi: {{ panchanga_dict['tithi']['tithi_name'] }} upto {{ panchanga_dict['tithi']['tithi_end_time'] }}
          <br> Vāra: {{ panchanga_dict['vara'] }}
          <br> Nakshatra: {{ panchanga_dict['nakshatra'] }} <var><sup>*** Nakshatras begin from Krittika</sup></var>
          <br> Yoga: {{ panchanga_dict['yoga'] }}
          <br> Karana: {{ panchanga_dict['karana'] }}
        </p>
        <br>

</div>

{% endblock %}