<html>
  <head>
    <title>MRL Panchanga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">


<body>
<div class="sidenav">
  <a href="#panchanga">Panchanga</a>
  <a href="{{ url_for('ephemeris') }}">Ephemeris</a>
  <a href="{{ url_for('horoscope') }}">Horoscope</a>
  <a href="#contact">Contact</a>
</div>

<!-- print ephemeris data -->
 <div class="main">